
.about_wrapper {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 2rem;
}
.skills_container {
    display: flex;
    gap: 2rem;
}

.skill{
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.skill img {
    width: 25px;
}

.technologies_container{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.technologies_container .tech_type{
    display: flex;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 0rem 1rem; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}
.tech_type div img {
    width: 25px;
}
.intern_photo, .warsaw42{
    width: 500px; 
    height: 500px;
    overflow: hidden;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.warsaw42 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.intern_photo img {
    width: 100%;
    height: auto;
    object-fit: cover;

}
.comment {
    text-align: center;
    color: gray;

}
.tech_text{
    font-weight: 500;
}

@media screen and (max-width:1200px) {
    .about_wrapper {
        padding: 1rem 4rem;
    }
}

@media screen and (max-width:992px) {
    .about_wrapper {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 768px) {
   
      .about_wrapper {
        padding: 1rem;
        font-size: 17px;
    }
    .about_wrapper h1 {
        font-size: 28px;
    }
    .skills_container {
        flex-direction: column;
        gap: 1.5rem;
    }
    .technologies_container {
        flex-wrap: wrap;
        margin-bottom: 2rem;
        gap: 1.5rem;
        justify-content: space-between;
    }
    .skill{
        padding: 1rem 0.5rem;
    }
    .intern_photo {
        width: 100%;
    }
    .warsaw42{
        width: 100%;
    }
}

@media  screen and (max-width:600px) {

    .about_wrapper {
        padding: 1rem;
        font-size: 1rem;
    }
    .about_wrapper h1 {
        font-size: 24px;
    }
    .skills_container {
        flex-direction: column;
        gap: 1.5rem;
    }
    .technologies_container {
        flex-wrap: wrap;
        margin-bottom: 2rem;
        gap: 1.5rem;
        justify-content: space-between;
    }
    .skill{
        padding: 1rem 0.5rem;
    }
    .intern_photo {
        width: 100%;
    }
    .warsaw42{
        width: 100%;
    }
    
}
