
.post_wrapper {
    padding: 3rem 10rem;
}
.img_container {
    width: 700px;
}
.img_container img{
    width: 100%;
    object-fit: cover;
}
.post_wrapper h1{
   color: #111518;
}
.post_wrapper .text_date {
    color:#60768a
}
