
.projects_wrapper{
    /* display: flex;
    justify-content: center;
    gap: 2rem;
    align-items:start; */
    /* height: calc(100vh - 5rem); */
    padding: 3rem 10rem 3rem;
}

.projects_container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.image_container {
    width: 450px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.image_container img {
    width: 100%;
    object-fit: cover;
}
.project p {
    color: #4c749a;
}

@media screen and (max-width:480px) {
    
    .projects_wrapper {
        padding: 1rem;
    }
    .projects_container{
        flex-direction: column;
        gap: none;
    }
    .projects_wrapper h1 {
        font-size: 24px;


    }
    .image_container {
        width: 100%;
    }
    .project:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }
}