
.projects_wrapper{
     max-width: 1040px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: 18px;
     margin-top: 2rem;
    }

.projects_container {
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.image_container {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project p {
    color: #4c749a;
    font-size: 1rem;
}
.project {
    width: 400px;
}

@media screen and (max-width:480px) {
    
    .projects_wrapper {
        padding: 1rem;
        font-size: 1rem;
    }
    .projects_container{
        flex-direction: column;
        gap: none;
    }
    .projects_wrapper h1 {
        font-size: 24px;


    }
    .image_container {
        width: 100%;
    }
    .project:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        border-radius: 10px;
    }
    .project p, .project h3{
        margin: 1rem;
    }
    .project {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .projects_wrapper {
        padding: 1rem;
        font-size: 17px;
    }
    .projects_container{
        flex-direction: column;
        gap: none;
    }
    .projects_wrapper h1 {
        font-size: 28px;


    }
    .image_container {
        width: 100%;
    }
    .project:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        border-radius: 10px;
    }
    .project p, .project h3{
        margin: 1rem;
    }
    .project {
        width: 100%;
    }

}

@media screen and (max-width:992px) {
    
    .projects_wrapper {
        padding: 1rem 2rem;
    }
}
@media screen and (max-width:1200px) {
    .projects_wrapper {
        padding: 1rem 4rem;
    }
}