
.contact_wrapper {
    max-width: 1040px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 18px;
    
}
.contact_wrapper h1 {
    text-align: center;
}
.contact_wrapper form input{
    display: block;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;  
    margin-top: 0.5rem;
    
}
.contact_wrapper form{
    padding: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; 
    border-radius: 10px; 
    margin-top: 2rem;

}
textarea{
    border-radius: 10px;
    display: block;
     outline: none;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;  
    resize: none;
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 16px;
}
.submit_btn{
    outline: none;
    border: none;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;  
    font-size: 16px;
    cursor:pointer;
}
.contact_body{
    display: flex;
    justify-content: space-between;
}

.contact_links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content:  center;
}
.contact_links a {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;  
    text-decoration: none;
    gap: 1rem;
    color:#359EFF;
}
.contact_links a:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact_links a img{
  width: 25px;
  object-fit: cover;

}
.contact_links a span{
    display: block;
}


@media screen and (max-width:1200px) {
    .contact_wrapper {
        padding: 1rem 4rem;
    }
}

@media screen and (max-width:992px) {
   .contact_wrapper {
    padding: 1rem 2rem;
   }
   .contact_body {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
   }
  
     .contact_links {
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: left;
    } 
}

@media screen and (max-width: 768px) {
    
    .contact_wrapper {
        padding: 1rem;
        font-size: 17px;

    }
    .contact_wrapper h1 {
        font-size: 28px;
    }
    .contact_body form {
        display: flex;
        flex-direction: column;

    }
    .contact_body form label {
        text-align: left;
    }
    .contact_body {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }
    .contact_links {
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: left;
    }   
}

@media screen and (max-width:600px) {
    
    .contact_wrapper {
        padding: 1rem;

    }
    .contact_wrapper h1 {
        font-size: 24px;
    }
    .contact_body form {
        display: flex;
        flex-direction: column;
    }
    .contact_body form label {
        text-align: left;
    }
    .contact_body {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }
    .contact_links {
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: left;
    }
}

