
.postpage_container{
    max-width: 1040px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.link_wrappper {
    border-radius:10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;  
    padding: 2rem;
    display: flex;
    margin-top: 2rem;
}
.post_links {
    display: flex;
    gap: 3rem;
    margin: 2rem 0rem;
    font-size: 18px;
    align-items: center;
    justify-content: center;

}
.post_links a {
    text-decoration: none;
    color: #0b80ee;

}
.post_links a:hover{
    color: #12538f;
}

@media screen and (max-width:480px) {
    
    .postpage_container {
        padding: 1rem;
    }
    .posts_container h1{
      font-size: 24px;
    }
    .post_links {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .postpage_container {
        padding: 2rem;
    }
    .posts_container h1{
      font-size: 28px;
    }
    .post_links {
        font-size: 17px;
    }
}