.navbar_wrapper {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
              rgba(0, 0, 0, 0.24) 0px 1px 2px;
  
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color:#fff;
}

.navbar_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.parent_logo {
  width: 2rem;
}

.codingLogo {
  object-fit: cover;
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  padding: 0; /* optional to remove default ul padding */
  margin: 0;  /* optional to remove default ul margin */
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

.download_btn{
    background-color: #0b80ee;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    a{
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}
.link_styles {
  text-decoration: none;
  color: #000;
}

.active_link {
  color: #0b80ee;
}

.profile_picture {
  width: 2.5rem;
  height: 2.5rem;
}

.profile_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.hamburger_container{
  display: none;
}
.menu_checkbox {
  display: none;
}

label {
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  transition: 0.3s ease transform;
  cursor: pointer;
}

label div {
  width: 4px;
  height: 4px;
  background-color: #143240;
  margin-left: 0;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
    0.3s ease background-color;
}

label div:first-child {
  width: 18px;
}

label div:nth-child(2) {
  width: 13px;
}

label div:last-child {
  width: 25px;
  margin-bottom: 0;
}

.menu_checkbox:checked + label {
  transform: translateY(-50%) rotateZ(-90deg);
}

.menu_checkbox:checked + label div {
  width: 6px;
  margin-left: 12px;
  margin-bottom: 3px;
  background-color: #ffc107;
}


@media  screen and (max-width:480px) {

  .hamburger_container{
  display: block;
}
  .hamburger_container{
  display: block;
}

  .navbar_name h2{
    font-size: 16px;
  }
  .profile_picture {
    display: none;
  }
  
  .navlink_container{
    display: none;
    flex-direction: column;
    font-size: 1rem;
    position: fixed;
    top: 2rem;
    right: 0;
    background-color: #000000b0;
    padding: 1rem;
  }
  .navlink_container li a {
    color: #fff;
  }

  .navlink_container.active {
    display: flex;
  }

   
}
